/*Hero Section*/
#hero{
    background-image: url('../img/computer-bits.gif');
    height:50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}